/* fonts  */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common or utility  */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* menu bar style  */

.menu {
  height: 135px;
  background: #2d25a0;
  width: auto;
}

.menu-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 124px;
  padding-left: 156px;
  padding-top: 42px;
  padding-bottom: 49px;
}

.menu-items {
  display: flex;
  color: white;
}

.menu-items h3 {
  font-size: 16px;
  margin-right: 36px;
}

.login {
  width: 123px;
  height: 44px;
  background-color: #e02c6d;
}

.login a {
  text-decoration: none;
  color: white;
  padding: 24px 10px;
}

/* ----------------
    banner style  
    -------------- */

.banner {
  height: 532px;
  width: 100%;
  background-color: #2d25a0;
}

.banner-details {
  display: flex;
  margin-left: 156px;
  margin-right: 140px;
  /* justify-content: center; */
}

/* .banner-left {
  margin-left: 156px;
} */

.banner-left {
  margin-right: 102px;
}

.banner-left-details {
  width: 485px;
  margin-top: 70px;
  margin-bottom: 27px;
}

.banner-left-details h1 {
  color: white;
  font-size: 64px;
  margin: 0;
  font-weight: 700px;
}
.banner-left-button {
  margin-top: 25px;
  width: 168px;
  height: 44px;
  background: #e02c6d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-left-button a {
  text-decoration: none;
  color: white;
  font-weight: 500px;
  font-size: 16px;
  margin-right: 8px;
}

/* .banner-right {
  margin-right: 145px;
} */

.banner-right img {
  width: 556px;
  height: 456px;
}
