/* fonts  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* common or utility  */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -----------------------------------------------------------------------------------
********************************* menu bar style *************************************
-------------------------------------------------------------------------------------- */

.menu {
  height: 135px;
  background: #2d25a0;
  width: auto;
}

.menu-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 124px;
  padding-left: 156px;
  padding-top: 42px;
  padding-bottom: 49px;
}

.menu-items {
  display: flex;
  color: white;
}

.menu-items h3 {
  font-size: 16px;
  margin-right: 36px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 44px;
  background-color: #e02c6d;
}

.fa-sign-in-alt {
  color: white;
}

.login a {
  text-decoration: none;
  color: white;
  padding: 24px 10px;
}

/* -----------------------------------------------------------------------------------
********************************* banner style *************************************
-------------------------------------------------------------------------------------- */

.banner {
  height: 532px;
  width: 100%;
  background-color: #2d25a0;
}

.banner-details {
  display: flex;

  margin-left: 10%;
  margin-right: auto;
}

.banner-left {
  margin-right: 102px;
}

.banner-left-details {
  width: 485px;
  margin-top: 70px;
  margin-bottom: 27px;
}

.banner-left-details h1 {
  color: white;
  font-size: 64px;
  margin: 0;
  font-weight: 700px;
}
.banner-left-button {
  margin-top: 25px;
  width: 168px;
  height: 44px;
  background: #e02c6d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-left-button a {
  text-decoration: none;
  color: white;
  font-weight: 500px;
  font-size: 16px;
  margin-right: 8px;
}

.banner-left-button:hover {
  cursor: pointer;
}

.banner-right {
  margin-right: 141px;
  margin-left: auto;
}

.banner-right img {
  width: 556px;
  height: 456px;
}

.banner:hover .banner-right img {
  width: 450px;
  height: auto;
  transform: scale(1.1) translate(-50px, 50px);
  transition: transform 1s ease-in-out;
}

/* -----------------------------------------------------------------------------------
********************************* Player bar style *************************************
-------------------------------------------------------------------------------------- */

.players {
  display: grid;
  justify-content: center;
  margin-left: 13%;
  margin-right: 17%;
  margin-top: 70px;
  margin-bottom: 165px;
  grid-template-columns: repeat(3, 360px);
  grid-gap: 45px 30px;
}

.player-details {
  width: 330px;
  height: 474px;

  background-color: #ffffff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.player-image {
  width: 100%;
  height: 256px;
}

.player-name {
  margin: 16px 0 10px 0;
  color: #18191f;
}

.player-info {
  margin: 0;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400px;
}

/* -----------------------------------------------------------------------------------
********************************* gallery style *************************************
-------------------------------------------------------------------------------------- */

.gallery {
  margin: 0 10%;
  margin-bottom: 165px;
}

.gallery h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.gallery-image-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.gallery-images img {
  width: 100%;
}

/* -----------------------------------------------------------------------------------
********************************* result style *************************************
-------------------------------------------------------------------------------------- */
.results {
  margin: 0 10% 165px;
}

.result-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.result {
  width: 200px;
  height: 350px;
  background-color: #1e1e1e;
  border-radius: 5px;
}

.result img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.result-detail {
  color: white;
  margin-top: 5px;
  padding: 5px;
}

.result-detail h3 {
  margin: 0;
}

/* -----------------------------------------------------------------------------------
********************************* Footer style *************************************
-------------------------------------------------------------------------------------- */

.bottom-part {
  text-align: center;
}

.bottom-part img {
  width: 483.87px;
  height: 110px;
  margin-bottom: 20px;
}

.social-icon {
  width: 32px;
  height: 32px;
  color: gray;
  background-color: lightgray;
  border-radius: 50%;
  display: inline;
  padding: 7.47px;
  margin-right: 14px;
  margin-top: 20px;
}

.bottom-icons {
  margin-bottom: 20px;
}

.bottom-icons a {
  text-decoration: none;
}

.bottom-part p {
  font-size: 18px;
  font-weight: 400px;
  color: #000000;
}

/* ---------------------------------------------------------------------------------------------------------------- *\
****************************************************************************************************************
************************** *****************************medua query ***************************************************
****************************************************************************************************************
\* ---------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------
 ************************mobile devices ***************************
 ------------------------------------------------------------------*/

@media only screen and (max-width: 688px) {
  .menu {
    display: none;
  }

  /* media for banner */
  .banner {
    height: 100%;
    /* width: 100%; */
  }

  .banner-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    justify-items: center;
  }

  .banner-left {
    margin: 0;
  }

  .banner-left-details {
    margin-top: 46px;
    width: 278px;
  }

  .banner-left-details h1 {
    font-size: 36px;
    color: #ffffff;
  }

  .banner-left-button {
    width: 168px;
    height: 44px;
    margin-top: 30px;
  }

  .banner-right {
    margin-top: 50px;
    margin-bottom: 62px;
    margin-left: 0;
    margin-right: 0;
  }
  .banner-right img {
    width: 264px;
    height: 259.17px;
    overflow-x: visible;
  }
  .banner:hover .banner-right img {
    transform: scale(1);
    transition: transform 1s ease-in-out;
  }

  /* media for players  */
  .players {
    margin-top: 47px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }

  .player-details {
    width: 300px;
  }

  /* media for gallery  */

  .gallery {
    margin-bottom: 50px;
  }
  .gallery-image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .gallery-image-container img {
    width: 80%;
  }

  /* media for results  */
  .results {
    margin-bottom: 70px;
  }
  .result-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* media for footer  */
  .bottom-part {
    margin-bottom: 185px;
  }

  .bottom-part img {
    width: 278px;
    height: auto;
  }
}

/* -------------------------------------------------------------------------- 
***************************** media query for tablet devices ****************
-----------------------------------------------------------------------------*/

@media only screen and (min-width: 688px) and (max-width: 1280px) {
  /* media for banner  */
  .menu {
    display: none;
  }

  /* media for banner */
  .banner {
    height: 100%;
    /* width: 100%; */
  }

  .banner-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    justify-items: center;
  }

  .banner-left {
    margin: 0;
  }

  .banner-left-details {
    margin-top: 46px;
    width: 330px;
  }

  .banner-left-details h1 {
    font-size: 42px;
    color: #ffffff;
  }

  .banner-left-button {
    width: 168px;
    height: 44px;
    margin-top: 30px;
  }

  .banner-right {
    margin-top: 50px;
    margin-bottom: 62px;
    margin-left: 0;
    margin-right: 0;
  }
  .banner-right img {
    width: 330px;
    height: auto;
    overflow-x: visible;
  }
  .banner:hover .banner-right img {
    transform: scale(1);
    transition: transform 1s ease-in-out;
  }

  /* player meadia   */

  .players {
    margin-top: 47px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }

  .player-details {
    width: 300px;
  }

  /* media gallery  */
  .gallery {
    margin-bottom: 50px;
  }
  .gallery-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .gallery-image-container img {
    width: 100%;
  }

  /* maedia results   */

  .results {
    margin-bottom: 70px;
  }
  .result-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
